<div class="row">
  <div class="col-sm-6">
    <ng-container *ngIf="isPushSupported">
      <h4>Push is supported!</h4>

      <button class="btn btn-md btn-primary" *ngIf="!isUserSubscribed" (click)="enablePush()" [disabled]="isLoading">
        Subscribe to Push Notifications
      </button>

      <button class="btn btn-md btn-danger" *ngIf="isUserSubscribed" (click)="disablePush()" [disabled]="isLoading">
        Unsubscribe from Push Notifications
      </button>
    </ng-container>

    <ng-container *ngIf="!isPushSupported">
      <h4>Push is NOT supported</h4>

      <p>It looks like push is not supported on this device or browser.</p>
    </ng-container>
  </div>

  <div class="col-sm-6">
    <h4>Your saved push subscriptions</h4>

    <ng-container *ngIf="!isLoadingSavedSubscriptions && savedSubscriptions.length > 0">
      <p>You have subscribed {{savedSubscriptions.length}} device(s)</p>

      <p *ngIf="isThisDeviceSubscribed">It looks like this device is subscribed</p>
      <p *ngIf="!isThisDeviceSubscribed">Although you have subscriptions, it does not appear that this device is subscribed</p>
    </ng-container>

    <em *ngIf="savedSubscriptions.length < 1">You don't have any saved subscriptions</em>
  </div>
</div>
